.menuTitle {
  padding: 5px 25px;
  line-height: 54px;
  height: 54px;
  width: 100vw;
  font-size: 20px;
  color: gray;
  border-bottom: solid #e7e7e7 1px;
}

.header {
  height: 54px;
  background-color: white;
}
